body{
    font-family: 'Poppins', sans-serif ;
}
h1{
    font-size: 50px;
}
.name-highilight{
    color: orange;
}
.half-side1{
    width: 40%;
    float: left;
    margin-left: 5%;
    
   
}
.half-side1 image{

    
}